html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
margin: 0;
}

/* Header */

h1 {

}

header {
  text-align: center;
}

nav li {
  display: inline;
  padding: none;
}

nav ol {
  padding: 0;
}
/* Header */

/* Seven Wonders */
strong {
  text-align: center;
  position: relative;
  color: white;
}

img {
  width: 90%;
}

.full-image {
  width: 100%;
  position: absolute;
}

.banner {
  position: absolute;
  color: white;
}
/* Buy Tickets */

/* Now Playing */

ol {
  list-style-type: none;
  padding: 0;
}

ul {
  padding: 0;
}

/* This Week */
