@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.buybtn {
  float: right;
  padding-right: .5em;
  padding-top: 1em;
}

h1 {
  color: black;
  text-align: center;
}

img {
  width:100%
}

ol {
  padding: 0;
}

ul {
  padding-left: 1em;
}

li {
  list-style-type: none;
}

.masthead {
  color: #fff;
  padding-top: 1em;
}

.logo {
  width: 90px;
  margin: 0 auto;
  display: block;
}

.title {
  font-size: 1.2rem;
  text-align: center;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #dbd6cf;
}

.nav a {
  display: block;
  padding: .5em 1em;
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  background-color: #ff3333;
}

.banner {
  text-align: center;
  background-image: url(../images/Maerten_van_Heemskerck_-_Panorama_with_the_Abduction_of_Helen_Amidst_the_Wonders_of_the_Ancient_World_-_Walters_37656.jpg);
  background-size: cover;
  padding: 2em 1em 1em 1em;
  color: #fff;
  text-shadow: 1px 2px 6px #000;
}

.now-playing {
  text-align: center;
  background-image: url(../images/Maróti-Atlantisz_1.jpg);
  width: 100%;
  background-size: 100%;
  padding: 2em 1em 1em 1em;
  color: #fff;
  text-shadow: 1px 2px 6px #000;
}

.description {
  /*position: absolute;
  padding-left: 12em;
  padding-top: 14em;*/
  text-align: center;
}

footer {
  background-color: #dbd6cf;
  padding: 1em;
  /*border-top: 0.15em solid #222222;*/
}

strong {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 25em) {

  .nav {
    text-align: center;
    margin-top: 1em;
  }

  .nav li {
    display: inline-block;
  }

  .list {
    overflow: hidden;
    margin: 0;
    clear: left;
    padding-left: 0;
  }

  .list ol {
    list-style-type: none;
    margin: 0;
  }

  .list li {
    text-align: center;
    float: left;
    width: 33.33%;
  }

}

@media only screen and (min-width: 35em) {

  /*.logo {
    display: inline-block;
    margin: 0.1em;
    vertical-align: middle;
  }

  .title {
    display: inline-block;
    vertical-align: middle; /* vertical align only works on inline and inline block level elements
  }*/

  .logo {
    margin: 0 auto;
    display: block;
  }

  .title {
    display: block;
  }

  .nav {
    margin-top: 1em;
  }

}

@media only screen and (min-width: 50em) {

  .masthead {
    float: left;
    width: 30%;
  }

  main {
    float: right;
    width: 70%;
    text-align: center;
  }

  .logo {
    margin: 0 auto;
    display: block;
  }

  .title {
    display: block;
  }

  .nav {
    text-align: left;
  }

  .nav li {
    display: block;
  }

  .left {
    /*position: relative;*/
    display: inline-block;
    width: 40%;
    /*padding-left: 2em;*/
    margin: 0;
    /*position: absolute;*/
    /*float: left;*/
    /*left: 300px;*/
  }

  .left-last {
    position: relative;
    text-align: center;
    width: 35%;
    /*position: absolute;*/
    /*float: left;*/
    /*text-align: center;*/
    /*left: 350px;*/
    left: 275px;
    padding-bottom: 3em;
  }

  .right {
    /*float: right;*/
    /*position: relative;*/
    display: inline-block;
    width: 40%;
    right: -500px;
    /*top: -440px;*/
    margin: 0;
  }

}
